<configuration debug="false">
    <contextName>upgrader</contextName>

    <appender name="LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/cogmentoTest.log</file>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%.45(%thread)][%.32(%logger{32})] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="LOG_FILE"/>
    </root>

    <logger name="com.cogmento" level="DEBUG">
        <appender-ref ref="LOG_FILE"/>
    </logger>

</configuration>